
<!-- if the flash notice is not blank, then out the div and the notice -->
<% @page_title = "Pages" %>
<div class="pages-index">
  <h2>Pages</h2>
  <ul>
    <li><h2><%= link_to("Subjects Page", {:controller => "subjects"}, :class => "subjects-link")%></h2></li>
    <li><h2><%= link_to("Pages Page", {:controller => "pages"}, :class => "pages-link")%></h2></li>
    <li><h2><%= link_to("Sections Page", {:controller => "sections"}, :class => "sections-link")%></h2></li>
  </ul>

  <%= link_to("Add new Page", {:action => 'new'}, :class => 'action new') %>
  <table class="listing" summary = "Page list">
    <tr class="header">
      <th>Page Id</th>
      <th>Subject Id(FK)</th>
      <th>Page Name</th>
      <th>Permalink</th>
      <th>Position</th>
      <th>Visible</th>
      <th>Number of Sections</th>
      <th>Action</th>
    </tr>

  <% @pages.each do |page| %>
  <tr>

    <td><%= page.id %></td>
    <td><%= page.subject_id%></td>
    <td><%= page.name %></td>
    <td><%= page.permalink %></td>
    <td><%= page.position %></td>
    <td class="center"><%= status_tag(page.visible)%></td>
    <td><%= page.sections.size %></td>


    <!-- defines the number of subjects in the pages table -->
    <td class="actions">
      <!-- specify the route and class action to show an corresponding record from the db -->
      <%= link_to("Show", {:action => 'show', :id => page.id}, :class => 'action show')%>

      <!-- specify the route and class action to edit a corresponding record from the db -->
      <%= link_to("Edit", {:action => 'edit', :id => page.id}, :class => 'action edit')%>

      <%= link_to("Delete", {:action => 'delete', :id => page.id}, :class => 'action delete')%>
    </td>
  </tr>
  <% end %>
  </table>
</div>
